<nav class="side-nav-content" style="background-color: #111c40;">
    <div class=" text">
        <ul class="nav-list tema ">
            <li class="nav-list-item">
                <a>
                    Yönetim
                </a>
                <ul class="nav-list-list">
                    <li class="nav-list-item ">
                        <a [routerLink]="['yonetim/kullanicilar']">
                            Kullanıcılar
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['yonetim/kurumlar']">
                            Kurumlar
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['yonetim/yetkiler']">
                            Yetkiler
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['yonetim/info-messages']">
                            Bilgi Mesajları
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['yonetim/ayarlar']">
                            Ayarlar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
