<nav class="side-nav-content" style="background-color: #111c40;">
    <div>
        <!--Kullanıcı Bilgileri üst kısımda yer alacak.-->
    </div>
    <div class=" text">
        <ul class="nav-list tema ">
            <li class="nav-list-item">
                <!--Admin anasayfa-->
                <a [routerLink]="['yonetim/admin/mainpage']">
                    Anasayfa
                </a>
            </li>
           <!-- <li class="nav-list-item">
                
                <a>
                    Anasayfa
                </a>
            </li>-->
            <li class="nav-list-item">
                <a>
                    Yönetim
                </a>
                <ul class="nav-list-list">
                    <li class="nav-list-item ">
                        <a [routerLink]="['managment/company']">
                            Kurumlar
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['managment/users']">
                            Kullanıcılar
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['managment/auth']">
                            Yetkiler
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['managment/settings']">
                            Ayarlar
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['managment/schedule']">
                            Zamanlanmış Görevler
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-list-item">
                <a>
                    Uygulama Yönetimi
                </a>
                <ul class="nav-list-list">
                    <li class="nav-list-item ">
                        <a [routerLink]="['appmanagment/apps']">
                            Uygulamalar
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['appmanagment/versionmanagment']">
                            Versiyon Yönetimi
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['appmanagment/usermessages']">
                            Kullanıcı Mesajları
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['appmanagment/errors']">
                            Uygulama Hataları
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['appmanagment/support']">
                            Teknik Destek Talepleri
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-list-item">
                <a [routerLink]="['livesupport']">
                    Canlı Destek
                </a>
            </li>
            <li class="nav-list-item">
                <a>
                    Raporlar
                </a>
                <ul class="nav-list-list">
                    <li class="nav-list-item ">
                        <a [routerLink]="['report/apperrors']">
                            Uygulama Hataları
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['report/interactions']">
                            Kullanıcı Etkileşimleri
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['report/storecomment']">
                            Mağaza Yorumları
                        </a>
                    </li>
                    <li class="nav-list-item ">
                        <a [routerLink]="['report/general']">
                            Genel Durum
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-list-item">
                <a [routerLink]="['logout']">
                    Çıkış
                </a>
            </li>
        </ul>
    </div>
</nav>
