<nav class="side-nav-content" style="background-color: #111c40;">
    <div>
        <!--Kullanıcı Bilgileri üst kısımda yer alacak.-->
    </div>
    <div class=" text">
        <ul class="nav-list tema ">
            <li class="nav-list-item">
                <!--Admin anasayfa-->
                <span class="dx-icon-home menu-icon-custom"></span>
                <a [routerLink]="['yonetim/admin/mainpage']">
                    Anasayfa
                </a>
            </li>

            <li class="nav-list-item">
              <span class="dx-icon-bookmark menu-icon-custom"></span>
              <a (click)=toggleDisplayYonetim() [routerLink]="['']">
                Yönetim
              </a>
              <ul class="nav-list-list" *ngIf="!isShowYonetim">
                <li class="nav-list-item ">
                  <span class="dx-icon-box menu-icon-custom"></span>
                  <a [routerLink]="['managment/company']">
                    Kurumlar
                    </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-user menu-icon-custom"></span>
                  <a [routerLink]="['managment/users']">
                    Kullanıcılar
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-key menu-icon-custom"></span>
                  <a [routerLink]="['managment/auth']">
                    Yetkiler
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-preferences menu-icon-custom"></span>
                  <a [routerLink]="['managment/settings']">
                    Ayarlar
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-clock menu-icon-custom"></span>
                  <a [routerLink]="['managment/schedule']">
                    Görevler
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-list-item">
              <span class="dx-icon-product menu-icon-custom"></span>
              <a (click)=toggleDisplayUygulamaYonetim() [routerLink]="['']">
                Uygulama Yönetimi
              </a>
              <ul class="nav-list-list"  *ngIf="!isShowUygulamaYonetim">
                <li class="nav-list-item ">
                  <span class="dx-icon-box menu-icon-custom"></span>
                  <a [routerLink]="['appmanagment/apps']">
                    Uygulamalar
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-toolbox menu-icon-custom"></span>
                  <a [routerLink]="['appmanagment/versionmanagment']">
                    Versiyon Yönetimi
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-comment menu-icon-custom"></span>
                  <a [routerLink]="['appmanagment/usermessages']">
                    Kullanıcı Mesajları
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-clear menu-icon-custom"></span>
                  <a [routerLink]="['appmanagment/errors']">
                    Uygulama Hataları
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-email menu-icon-custom"></span>
                  <a [routerLink]="['appmanagment/support']">
                    Destek Talepleri
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-list-item">
              <span class="dx-icon-runner menu-icon-custom"></span>
              <a [routerLink]="['livesupport']">
                Canlı Destek
              </a>
            </li>

            <li class="nav-list-item">
              <span class="dx-icon-chart menu-icon-custom"></span>
              <a (click)=toggleDisplayUygulamaRaporlar() [routerLink]="['']">
                Raporlar
              </a>
              <ul class="nav-list-list"  *ngIf="!isShowUygulamaRaporlar">
                <li class="nav-list-item ">
                  <span class="dx-icon-clear menu-icon-custom"></span>
                  <a [routerLink]="['report/apperrors']">
                    Uygulama Hataları
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-filter menu-icon-custom"></span>
                  <a [routerLink]="['report/interactions']">
                    Kullanıcı Etkileşimleri
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-comment menu-icon-custom"></span>
                  <a [routerLink]="['report/storecomment']">
                    Mağaza Yorumları
                  </a>
                </li>
                <li class="nav-list-item ">
                  <span class="dx-icon-globe menu-icon-custom"></span>
                  <a [routerLink]="['report/general']">
                    Genel Durum
                  </a>
                </li>
              </ul>
            </li>


            <li class="nav-list-item">
              <span class="dx-icon-chevronnext menu-icon-custom"></span>
              <a [routerLink]="['logout']">
                Çıkış
              </a>
            </li>
        </ul>
    </div>
</nav>
