<header class="navbar tema sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand" style="text-align:center" routerLink="/anasayfa">
        <img alt="Logo" src="../../../assets/logo/ksm-removebg-preview.png" style="justify-self: stretch; width: 150px; height:auto">
    </a>
    <h4 style="color: aliceblue; ;font-size: 15px; margin-inline-end: auto;"></h4>
    <div ngbDropdown class="profile-logo dropstart">
        <!-- <button class="deneme btn btn-outline-light btn-sm dropdown-toggle"  id="gfg" data-bs-toggle="dropdown" ngbDropdownToggle >
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu="gfg">
          <li><a class="dropdown-item" ngbDropdownItem [routerLink]="['/fetch-data']">Bilgilerim</a></li>
          <li><a class="dropdown-item" ngbDropdownItem [routerLink]="['/home']">Şifre Değiştirme</a></li>
          <li><a class="dropdown-item" ngbDropdownItem (click)="logout()">Çıkış Yap</a></li>
        </ul> -->
        <button class="deneme btn btn-outline-light btn-sm">
            
        </button>
    </div>
</header>
